body{
    font-size: 20px;
}

p{
    width:1500px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

a{
    color: blue;
}

img{
     margin: 50px 80px;
     border-style: inset;
     border-width: 7px;
     border-color: #00BFFF;
     border-radius: 7px;
}

.centerTable { 
    margin: 0px auto; 
}

.attachText {
  position: relative;
}

.Description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;


  visibility: hidden;
}

.attachText:hover .Description {
  visibility: visible;
}

.vidSize3{
    opacity: 1;
}

.vidSize3 video{
    width: 450px;
    height: 300px;
}

a:hover{
    color: mediumpurple;
}

body{
    background-color: #3BA3E8;
}

#info{
    background-color: white;
}